%h1 Making Awesome
%br

%h3 Create a new awesome

%input#txtName{:type=>"text", :placeholder=>"Name"}
%input#txtWhy{:type=>"text", :placeholder=>"Why Awesome"}

%select#isAwesome
	%option True
	%option Awesome
%br
%button#btnSend Send